.reserve {
  display: grid;
  grid-template-columns: 405px 1fr;
  grid-template-areas:
      "checks scheme"
      "order legend";
  gap: 65px 11%;
  width: 100%;

  // &__legend {
  //     display: flex;
  //     justify-content: flex-end;
  // }

  &__section-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 24.51px;
      margin: 0;
      margin-bottom: 20px;

      &--s {
          font-weight: 600;
          line-height: 24.51px;
      }
  }

  // &__checks {
  //     display: flex;
  //     flex-direction: column;
  //     // gap: 10px;
  // }
}